/* CSS Document */


html {
	width: 100%;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
}

#page {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	height: 100%;

}

/****for article.php********/
.article {
	width: 80%;
	margin: 30px auto;
}

.article h1 {
	text-align: center;
	font-family: "Lato", sans-serif;
	padding-top: .5em;
	padding-bottom: .5em;
}

.article h2 {
	color: #b00d10;
	margin-top: 20px;
	margin-bottom: 1px;
	font-weight: bold;
}

/* Reference */
#reference {
	padding-left: 30px ;
  text-indent: -30px ;
  font-size: 15px;
}

.ref {
	margin:10px 0;
}

.hide {
	display:none;
}

.show {
	display:block;
}

#showReference {
  background-color: white;
  border: none;
  color: #b00d10;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}

/* Text */

h1 {
	margin: 0 0 0 0;
	font-size: 2.75em;
	font-weight: 700;
	color: black;
}
h2 {
	margin: 0;
	font-size: 1.65em;
	font-weight: 500;
	line-height: 2em;
	color: white;
}
h3 {
	margin: 0 0 .5em 0;
	font-size: 1.3em;
	font-weight: 700;
	color: #b00d10;
}
h4 {
	margin: 0 0 1.5em 0;
	font-weight: 700;
}

p {
	margin: 0 0 1em 0;
	color:black;
}

a:link {
	color: #b00d10;
	text-decoration: none;
}

a:visited {
	color: #b00d10;
	text-decoration: none;
}

/* Header */
header {
	height: 11em;
	background: #b00d10;
	margin:0;
	position: relative;
	/*border-radius: 0 0 .5em .5em;*/
	box-shadow: 0px 2px 5px #888888;
}

.logo {
	position: absolute;
	display: block;
	width: 9em;
	height: 9em;
	background: url(../images/CPRLogo2.jpg) no-repeat 0 0;
	background-size: contain;
	top: 1em;
	left: 2em;
}

.logo span {
	display: none;
}

.SpecEd {
	width: 42%;
	position: absolute;
	top: 3.75em;
	left: 13em;
	font-family: 'Cormorant Garamond', sans-serif;
}

.SpecEd h1 {
	line-height: 0.5em;
	margin: 0 0 30px 0;
}

.SpecEd h2 {
	line-height: 0.5em;
	margin: 0em;
}


/* Navigation */
nav {
	position: absolute;
	top: 8em;
	height: 3em;
	margin: 0 auto;
	right: 4em;
}

nav a:visited {
	color: #fff;
}

nav a:link {
	color: white;
	text-decoration: none;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	font-size: 1.1em;
	line-height: 1.3;
}
nav ul::after {
	content: "";
	display: block;
	clear: both;
}

nav ul li:hover {
	background-color: #2b0306;
}
nav ul li:hover > ul {
	display: block;
}

nav ul li a {
	display: inline-block;
	color: #fff;
	padding: .5em 1em;
	text-decoration: none;
	width: 7em;
	position: relative;

}
nav ul li a:hover {
	background-color: #79131a;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #2b0306;
	font-size: 1em;
}
nav ul ul li {
	position: relative;
}
nav ul ul ul {
	left: 100%;
	top: 0;
}

.slicknav_menu {
        display:none;
}

/* Top Navigation */
#topnav {
	float: right;
	color: white;
	font-family: "Open Sans", sans-serif;
	margin-top: 1em;
	margin-right: 2em;
}

#topnav a:link {
	color:white;
}

#topnav a:visited {
	color:white;
}

#mapcontainer {
	position: fixed;
	top: 0%;
	right: -100%;
	width: 100%;
	height: 100%;
	background: #b00d10;
	z-index: 997;
}

#map {
	position: relative;
	height: 100%;
	width: 99%;
	margin: 0 auto;
	background:  #b00d10;
	padding: 1em;
	z-index: 996
}

#maptoggle {
	position: fixed;
	height: 4em;
	width: 5%;
	min-width: 3.6em;
	top: 40%;
	text-decoration: none;
	background-color: #b00d10;
	opacity: 0.6;
	border: none;
	color: white;
	z-index: 9999;
	border-radius: 0 10px 10px 0px;
	opacity: .7;
	margin: 0;
}

#leaveComment, #showComment, #hideComment {
	position: fixed;
	height: 4em;
	width: 5%;
	min-width: 6em;
	top: 60%;
	left: -40%;
	text-decoration: none;
	background-color: #b00d10;
	opacity: 0.6;
	border: none;
	color: white;
	border-radius: 0 10px 10px 0px;
	z-index: 998;
	opacity: .7;
}
#leaveComment { top: 70%; }

#signinMessage {
	font-size: 18px;
}

.comment-box {
	overflow: auto;
	border-bottom: 1px solid #aaa;
}
.comment-delete {
	float: right;
}

.replyText {
	margin-top: 5px;
	width: 100%;
}

/* top level */
nav > ul {
	padding-left: 200px;
}
nav > ul > li {
	float: left;
}
nav > ul > li > a {
	padding: 10px 20px 15px 20px;
	width: auto;
}

nav a[aria-haspopup="true"]::after {
	content:'';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #fff;
	right: .2em;
	top: .1em;
}
nav > ul > li > a[aria-haspopup="true"]::after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	left: 20px;
	bottom: 3px;
	right: auto;
	top: auto;
}

/****************** SEARCH BAR DROP DOWN *************************/
#searchbar {
  display: none;
  margin: 0 auto;
  width: 40%;
  height: 70px;
  background: white;
  position: absolute;
  top: 0px;
  right: 10em;
  border-radius: 0 0 10px 10px;
  /*-webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
  box-shadow: -1px 2px 2px rgba(0,0,0,0.2);*/
}


.search {
  display: block;
  float: left;
  border: 0;
  outline: none;
  padding: 0;
  height: 60px;
  line-height: 60px;
  font-size: 1.4em;
  color: #676767;
  padding-left: 1em
}

#searchsubmit {
  display: block;
  float: right;
  margin-top: .15em;
  background: none;
  color: #b00d10;
  border: 0;
  outline: none;
  cursor: pointer;
}

.fa-lg {

	color: white;
	margin: 1em;
}
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* for author.php Bio Pic */

.authorinfo {
	margin: 2em auto;
	margin-right: 10%;
	width: 70%;
}

#authorcard {
	display: inline-flex;
	flex-wrap: wrap;
}

#authorcard h1 {
	margin-top: 90px;
	font-size: 1.5em;
}

#authorpic {
	float: left;
}

#authorpic img {
	height: 16em;
	padding: 0;
	padding-right: 1em;
}

#authorbio {
	float: right;
	width: 60%;
}

#authorbio h3 {
	color: #b00d10;
}

#authorarticle {
	margin-top: 20px;
	width: 100%;
}

/* Comment */
#commentBox {
	position: fixed;
	display: none;
	bottom: 60%;
	left: 50%;
	padding: 15px;
	background-color: rgba(255,255,255,.8);
	border-radius: 8px;
	z-index: 999;
}
#commentBox form input {
	padding: 3px 5px;
	margin: 5px;
}

#discussion-section {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

#section-header {
	border-bottom: 3px solid #b00d10;
	padding: 10px 0;
	font-size: 25px;
}

#commentInput {
	overflow: hidden;
}

#scommentText {
	width:100%;
}

#discussion-section a:hover{
	cursor:pointer;
	text-decoration: none;
}

#postScomment {
	border-radius: 4px;
	border: #b00d10;
	margin-right: 20px;
	background-color: #b00d10;
  padding: 8px 25px;
  float: right;
  font-size: 18px
}

#postScomment a {
	color:white;
}

.replyComments {
	border-radius: 4px;
	border: #b00d10;
	margin-right: 20px;
	background-color: #b00d10;
  padding: 8px 25px;
  float: right;
  font-size: 18px
}

.replyComments a {
	color:white;
}

.section-thread {
	padding: 10px 0;
	overflow: hidden;
	border-bottom: 1px solid #aaa;
}
.section-comment {
	margin-bottom: 6px;
}
.section-comment:not(:first-child),.scomment-reply,.sreplyText,.sreply-post {
    width: 95% !important;
    margin-left: 5%;
}

#signinMessage {
	text-align: center;
}
#signinMessage a{
	color: #337ab7;
}

/*#disqus_thread {
	position: relative;
	width: 90%;
	margin: 0 auto;
}
#disqus_thread:after {
	content: "";
	display: block;
	height: 55px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: white;
}*/


/* Images in Article */
.image {
	text-align: center;
}

.img {
	display: inline-block;
	padding: 0 20px;
}

/* Search Results */
#searchresults{
	width: 80%;
	margin: 40px auto;
	padding: 50px;
}

#searchresults h2{
	color: black;
	font-weight: 600;
	font-size: 1.8em;
	margin-bottom: 60px;
	line-height: 0;
}

#searchresults h3{
	font-size: 1.4em;;
	color: black;
}

#searchresults h4{
	font-size: 1.3em;;
}

.results{
	padding: 10px 50px;
	margin-top: 30px;
}

.results p:first-child {
	font-weight: bold;
}

/* Login Page */

#login {
	margin: 0 auto;
	margin-top: 1em;
	width: 40%;
}

#login-area p {
	line-height: 1em;
	margin: .5em 0 .25em 0em;
}
#signup-area p {
	line-height: 1em;
	margin: .5em 0 .25em 0em;
}
#login-area {
	float: left;
	margin-top: 1.75em;
	width: 40%;
}

#signup-area {
	float: right;
	width: 40%;
}

input[type=text] {
	background-color: #b00d10;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

input[type=password] {
	background-color: #b00d10;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
input[type=submit] {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;

}

#divider {
    position:absolute;
    left:50%;
    top:20%;
    bottom:40%;
    border-left:3px dotted black;
}


/****for admin.php****/
#admin-panel{
	width: 80%;
	margin: 50px auto;
}

#admin {
	margin-bottom: 30px;
}

#all {
	display: inline-flex;
	width: 45%;
}

#article_select {
	display: inline-flex;
	width: 45%;
	float: right;
}

#article_select select {
	display: inline-block;
	width: 50%;
	margin-left: 50%;
}

#comments {
	border-spacing: 10px;
    border-collapse: separate;
}

thead {
	text-align: center;
}

tbody {
	text-align: center;
}

tbody > tr {
	height: 80px;
}

.column-two {
	width: 10%;
}

.column-three {
	width: 25%;
}


/* Media Queries */

@media screen and (max-width: 1260px) {
	#login {
		width: 48%;
	}
	#searchbar {
		position: relative;
		top: 0px;
  	right: 0;
  	width: 60%;
  	background: none;
	}
	.search {
		background: none;
	}
	.searchsubmit {
		background: none;
	}
}
@media screen and (max-width: 1000px) {
	#login {
		width: 65%;
	}
	.authorinfo {
		margin: 0 auto;
		margin-top: 1em;
		width: 80%;
	}
	/* Header */
	.SpecEd {
		left: 11em;
	}

	.SpecEd h1 {
		font-size: 2em;
		line-height: .2em;
	}
	.SpecEd h2 {
		font-size: 1.2em;
	}
	#searchbar {
		height: 100px;
	}
	.search {
		height: 40px;
	}
	.fa-4x {
		color: white;
		font-size: 2em;
	}
	.article {
		width:90%;
	}
}


@media screen and (max-width: 845px) {
	#login {
		width: 80%;
	}
	h1 {
		font-size: 2.2em;
	}
	#searchbar {
		width: 70%;
	}
	.search {
		width: 60%;
		font-size: 1em;
	}
	.img {
		padding: 0;
		width: 100% !important;
		height: auto !important;
	}
	#authorpic {
		margin: 0 auto;
	}
	#authorcard {
		margin: 0 auto;
		text-align: center;
	}
	#authorpic img {
		width: 50% !important;
		padding-right: 0;
	}
	.authorinfo {
		width: 90%;
	}
	#authorbio {
		width: 100%;
	}
	#authorarticle {
		margin-top: 0;
		width: 100%;
	}
	.slicknav_nav a {
		color: white;
	}
}
	/* Header */

@media screen and (max-width: 760px) {
	#login {
		width: 70%;
	}
	#login-area {
		float: none;
		width: 100%;
	}
	#signup-area {
		margin-top: 2em;
		float: none;
		padding-left: 0;
		width: 100%;
	}
	#divider {
		display: none;
	}
	input[type=submit] {
		width: 100%;
		background-color: #4c4c4c;
	}
	h2 {
		font-size: 1.4em;
	}
	h3 {
		font-size: 1.1em;
	}

	nav {
		padding-top: 0;
	}
	.article {
		width: 95%;
	}

}


@media screen and (max-width: 665px) {
	#login {
		width: 90%;
	}
	#searchbar {
		width: 90%;
	}
	.logo {
		width: 9em;
		height: 4em;
		left: 0px;
		background-position: 1em center;
	}

	.SpecEd {
		top: 1em;
		left: 6em;
	}

	.SpecEd h1 {
		line-height: 1em;
	}

	.SpecEd h2 {
		display: none;
	}

	h1 {
		font-size: 2em;
	}
	h3 {
		margin-bottom: 0;
	}

	header {
		height: 7em;
		background-position: left top;
		box-shadow: none;
	}
  #menu {
      display:none;
  }

  .slicknav_menu {
      display:block;
  }
  .slicknav_menutxt {
  	color: #b00d10;
  }
  .authorinfo {
		width: 90%;
		margin: 0 auto;
	}
	#authorpic img {
		width: 70% !important;
	}
}



@media screen and (max-width: 425px) {

	header {
		height: 110px;
	}
	#authorpic img {
		width: 100% !important;
	}
	/*
	.logo {
		height: 4em;
		width: 4em;
		no-repeat center center;
		background-size: 126px 126px;
	}

	.SpecEd {
		width: 100%;
		left: 0;
		top: 1em;
		text-align: center;
	}

	.SpecEd h1 {
		font-size: 1em;
		margin-bottom: 10px;
		display: inline;
	}

	.SpecEd a.btn {
		padding: 2px 30px;
		font-size: .8em;
	}

	.SpecEd a.btn span {
		display: none;
	}*/


}





























